<div class="video-container">
  <video autoplay loop muted>
    <source src="/video/Head-or-Tails.mp4" type="video/mp4">
    <source src="/video/Head-or-Tails.ogv" type="video/ogv">
    <source src="/video/Head-or-Tails.webm" type="video/webm">
  </video>
</div>


<div class="row full-height middle-xs center-xs inicial">
  <div class="col-md-12 col-xs-12">
    <div class="box">
      <div class="logotipo">
        <img class="img-ltipo" src="https://res.cloudinary.com/mishulicious/image/upload/v1537910791/myPocket/logo-mypocket-03.png" alt="myPocket">
      </div>
      {{#if error}} 
        <p style="color:red">{{error}}</p> 
      {{/if}}
      <form action="/signup" method="POST">
          <p>
            <input class="form-control" type="text" name="usuario" id="usuario" placeholder="@Usuario" value="{{usuario}}">
          </p>
          <p>
            <input class="form-control" type="text" name="nombre" id="name" placeholder="Nombre" value="{{nombre}}">
          </p>

          <p>
            <input class="form-control" type="text" name="apellido" id="lastName" placeholder="Apellido" value="{{apellido}}">
          </p>

          <p>
            <input class="form-control"  type="email" name="email" id="email" placeholder="email@email.com" value="{{email}}">
          </p>

        <p>
          <input class="form-control" type="password" name="password" id="password" placeholder="Contraseña">
        </p>

        <p>
          <input class="form-control" type="password" name="confPassword" id="confPassword" placeholder="Confirma tu contraseña">
        </p>

        <p>
          <input type="submit" class="btn btn-primary" value="Registrarme">
        </p>

        <a href="/login"><button type="button" class="btn btn-primary">Ya tengo cuenta</button></a>


      </form>
    </div>
  </div>
</div>

{{!-- <script>
  window.onload=load()
  function load(){
    document.getElementById('usuario').value='arroba'
  }
</script> --}}





