<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
{{> nav}}
{{> sidenav}}

<h1>Editar meta {{nombre}}</h1>
<form action="/metas/edit/{{this.id}}" method="POST">
<p>
  <label for="nombre">Nombre:</label><br>
  <input type="text" name="nombre" id="nombre" value="{{nombre}}">
  <br>
</p>


<p>
  <label for="nombre">Fecha Objetivo:</label><br>
  <input type="text" name="nombre" id="nombre" value="{{fechaFin}}">
  <br>
</p>


<p class="form-inline">
  <div class="form-group"></div>
  Cantidad Objetivo:
  <div class="form-group">
     <div class="input-group">
      <div class="input-group-addon">$</div>
      <label class="sr-only" for="cantidad">Cantidad</label>
      <input type="number" name="cantidadObjetivo" id="cantidadObjetivo" value="{{cantidadObjetivo}}">
    </div>
  </div> 
</p>

<p class="form-inline">
  <div class="form-group"></div>
  Cantidad Inicial:
  <div class="form-group">
     <div class="input-group">
      <div class="input-group-addon">$</div>
      <label class="sr-only" for="cantidad">Cantidad</label>
      <input type="number" name="cantidadInicial" id="cantidadInicial" value="{{cantidadInicial}}">
    </div>
  </div> 
</p>

<p class="form-inline">
  <div class="form-group"></div>
  Cantidad Actual:
  <div class="form-group">
     <div class="input-group">
      <div class="input-group-addon">$</div>
      <label class="sr-only" for="cantidad">Cantidad Actual</label>
      <input type="number" name="cantidadActual" id="cantidadActual" value="{{cantidadActual}}">
    </div>
  </div> 
</p>



<input type="submit" value="Guardar" class="btn btn-primary">
</form>
<a href="/metas/list">Atrás</a>
<style>
  .bd{
    width: 70%;
    margin-left: 20%;
  }
</style>
