<h1>Mis ahorros</h1>

<section>
  <table class="table table-hover tabla-ahorros">
   <thead> 
        <th>Nombre</th> 
        <th>Cantidad</th>
        <th></th>
    </thead> 
    <tbody> 
        {{#each ahorros}} 
        <tr> 
            <td><a href="/ahorros/detail/{{this.id}}">{{this.nombre}}</a></td> 
            <td>{{this.cantidad}}</td> 
            <td><a href="/ahorros/delete/{{this.id}}">x</a></td>
        </tr>
        {{/each}}
        <tr> 
            <td><b>TOTAL</b></td> 
            <td>{{total}} </td>  
        </tr> 
    </tbody> 
  </table>
</section>
<hr>
<button onclick="showInputs()" class="buttons">+</button>
<br><br>
<form action="/ahorros/new" method="POST" id="agregar" class="form-inline">
  <input type="text" name="nombre" placeholder="Nombre" id="nombre">
  <input type="number" name="cantidad" placeholder="Cantidad" id="cantidad">
  <button type="submit" name="add" class="btn-default">✓</button>
</form>
<button name="t" class="btn-default" id="t" onclick="inputsHide()">✖</button>


<script>
  document.getElementById('agregar').style.display="none"
  document.getElementById('t').style.display="none"
  function showInputs(){
    document.getElementById('agregar').style.display="block"
    document.getElementById('t').style.display="block"
  }
  function inputsHide(){
    document.getElementById('agregar').style.display="none"
    document.getElementById('t').style.display="none"
  }
</script>