<h2>Concepto: {{concepto}}</h2>
<h3>Cantidad:{{cantidad}}</h3>
<h4>Periodicidad: {{periodicidad}}</h4>

<a href="/ingresos/editar/{{_id}}"><button>Editar</button></a>

<a href="/ingresos/borrar/{{_id}}"><button>Borrar</button></a>

<a href="/ingresos/lista"><button>Ingresos</button></a>
 