<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<h1>Editar Ingreso {{concepto}}</h1>

<form action="/ingresos/edit/{{_id}}" method="POST">
  <div>
    <label for="concepto">Concepto</label>
    <input type="text" name="concepto" id="concepto" value="{{concepto}}">
  </div>
  <div>
    <label for="cantidad">Cantidad</label>
    <input type="number" name="cantidad" id="cantidad" value="{{cantidad}}">
  </div>

  <div>
    <label for="periodicidad">Periodicidad</label>
    <select name="periodicidad" id="periodicidad">
      <option value="Diario">Diario</option>
      <option value="Semanal">Semanal</option>
      <option value="Quincenal">Quincenal</option>
      <option value="Mensual">Mensual</option>
      <option value="Anual">Anual</option>
    </select>
  </div>

  <button type="submit">Guardar Cambios</button>
  <a href="/ingresos/lista"><button>Ingresos</button></a>
</form>

<script type="text/javascript">
document.getElementById('periodicidad').value='{{periodicidad}}'
</script>

