   
{{> nav}}
{{> sidenav}}



<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>


<div class="row center-xs">
  <div class="col-md-10 offset-2">
    <div class="box">
      <h1>Mis Ingresos</h1>
    </div>
  </div>
</div>


<section class="container">
  <div class="row center-xs">
    <div class="col-md-10 offset-2">
      <div class="box">
        <table id="tabla_ingresos" class="table table-hover tabla-ingresos">
          <thead> 
              <th>Concepto</th> 
              <th>Cantidad</th>
              <th>Periodicidad</th>
              <th></th>
          </thead> 
          <tbody> 
              {{#each ingresos}} 
              <tr> 
                  <td>{{this.concepto}}</td> 
                  <td>{{this.cantidad}}</td> 
                  <td>{{this.periodicidad}}</td> 
                  <td><a href="/ingresos/edit/{{this.id}}"><i class="fas fa-pencil-alt" id="editar"></i></a></td>
                  <td><a href="/ingresos/delete/{{this.id}}"><i class="far fa-trash-alt"></i></a></td>
              </tr>
              {{/each}}
          </tbody> 
        </table>
      </div>
    </div>
  </div>
</section><hr>


<div class="row center-xs">
  <div class="col-md-10 offset-2">
    <div class="box">
      <button title="Agrega un nuevo ingreso" id="show"  class="btn btn-primary" placeholder="Agrega tu ingreso">+</button><br><br>
<form action="/ingresos/new" method="POST" id="agregar" class="form-inline">
  <div class="form-group">
    <input type="text" name="concepto" placeholder="Concepto de tu ingreso" id="nombre" class="form-control" required>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <label class="sr-only" for="cantidad">Cantidad</label>
      <input type="number" name="cantidad" placeholder="Cantidad" id="cantidad" class="form-control" required>
    </div>
    <select class="form-control" name="periodicidad">
        <option value="Diario">Diario</option>
        <option value="Semanal">Semanal</option>
        <option value="Quincenal">Quincenal</option>
        <option value="Mensual" selected>Mensual</option>
        <option value="Anual">Anual</option>
    </select>
    <button id="check" type="submit" name="check" class="btn btn-primary" title="OK"><i class="fas fa-check"></i></button>
    <button onclick="inputsHide()" class="btn btn-primary" title="Cancel"><i class="fas fa-times"></i></button>
  </div>
</form>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>

<script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/3.3.13/js/tableexport.min.js"></script>


<script>
   window.onload=load()
   function load() {
    document.getElementById('agregar').style.display="none"
  }
  document.getElementById('show').addEventListener('click',function(){
    showInputs()
  })
  
  function showInputs(){
    document.getElementById('agregar').style.display="block"
    document.getElementById("nombre").focus()
  }
  function inputsHide(){
    document.getElementById('nombre').value=""
    document.getElementById('cantidad').value=""
    document.getElementById('agregar').style.display="none"
  }

     $('#tabla_ingresos').tableExport({
    formats: ["csv","txt"],
    filename: "mis ahorros",
    bootstrap: false,
    position: "bottom"
  })

</script>